body {
  font-family: Arial;
  background: #e4e4ec
}

header {
  background: #67d4f9;
  padding: 10px
}

header nav {
  text-align: center;
  background: #efefef;
  
}

header nav a {
  
  color: #000;
  margin-right: 15px;
  padding: 5px;

}

header nav a:hover {
  background: #f1dfdf;
  
  
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
}

main {
  background: white;
  padding: 10px
}

main section h2 {
  color: #2a86a5;
}

main section div {
  overflow: auto;
}
main section div img {
  max-width: 300px;
  float: left;
  border: 1px solid #000;
}

main section div p {
  margin-left: 5px;
    float: left;
    width: calc(100% - 320px);
}

.see-more {
  color: red;
  font-weight: bold;
}

.counter {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.counter span {
  position: absolute;
  left: 100%;
  top: 0;
  font-size: 12px;
  background: red;
  padding: 2px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;


}

@media only screen and (max-width: 640px) {
  header nav a {
    display: block !important;
    margin-right: 0 !important;
    
  }

  

  main section div img,
  main section div p {
    width: 100% !important;
    display: block !important;
    max-width: none;
  }

  main section div {
    margin-right: 0;
    padding: 5px;

  }




}
